@media (max-width:1600px) {
    .side-space {
        padding-left: unset;
        padding-right: unset;
    }
      .brand-counter-section {
    padding: 28px 5px;
  }

}

@media (max-width:1200px) {
    .nav-link {
        font-size: 16px !important;
        margin-left: 10px;
    }

}

@media(max-width:992px) {
    #brand-counter .brand-counter-section{
    flex-direction:column;
    padding:30px;
    text-align:center;
}
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: -300px;
        width: 280px;
        height: 100vh;
        padding: 70px 20px 20px;
        background: #fff;
        transition: left 0.35s ease;
        z-index: 9999;
    }

    .navbar-collapse.show {
        left: 0;
    }

    #brand-counter .brand-counter-section {
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }

    .about-sec .left .content {
        position: static;
        transform: unset;
    }

    #brand-counter .brand-title {
        font-size: 25px;
    }

    #brand-counter .counter-wrapper {
        width: 100%;
    }

}

@media (max-width:767px) {

    #blog {
        padding-top: 45px !important;
        padding-bottom: 45px !important;
    }

    .blog-heading .heading {
        font-size: 25px;
    }

    .blog-heading p {
        font-size: 13px;
    }

    .blog-img {
        height: 220px;
    }

    .blog-content {
        padding: 18px;
    }

    .blog-content h3 {
        font-size: 18px;
    }

    #home-banner-2 {
        display: block;
    }

    #home-banner-1 {
        display: none;
    }

    #header {
        margin-bottom: 0px;
        position: static;
        padding: 0px;
        padding-bottom: 0;
    }
    .heading{
        font-size: 28px;
    }

}

@media (max-width:815px) {
    .footer {
        justify-content: start;
    }
}

@media (max-width:757px) {
        #brand-counter .counter-box h2 {
            font-size: 30px;
        }
    
}
@media (max-width:575px) {
    .stats-box h3{
        font-size: 24px;
    }


    .about-sec .content {
        padding: 16px 12px;
    }

    .about-sec .heading {
        font-size: 30px;
    }
    .stats-box {
    padding: 10px 6px;}
    

}

@media (max-width:500px) {
    .review-card {
    padding: 20px 10px;
    }

    .about-sec .heading {
        font-size: 24px;
    }
    .heading {
        font-size: 24px;
    }
    .main-title span{
                font-size: 24px;

    }
        #brand-counter .brand-title {
        font-size: 20px;
    }
    #brand-counter .counter-box span {
    font-size: 26px;
}
#brand-counter .counter-box p {
    font-size: 12px;
}

    #brand-counter .counter-box h2 {
        font-size: 22px;
    }
    .mh {
        padding: 20px 5px 5px 17px;
    }
}

@media (max-width:460px) {
    .mj {
        padding: 5px 15px 10px 15px;
    }
}

@media (max-width:934px) {
    .im img {
        padding: 20px 100px;
    }
}

@media (max-width:670px) {
    .im img {
        padding: 20px 20px;
    }
}

@media (max-width:500px) {
    .PT {
        padding: 2px 2px;
    }
}

@media (max-width:534px) {
    .HT {
        padding: 20px 2px;
    }
}

@media (max-width:522px) {
    .HY {
        padding: 12px 2px;
    }
}

@media (max-width:522px) {
    .RT {
        gap: 20px;
    }
}

@media (max-width:990px) {

    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        z-index: 1;
        background-color: white;
    }
}

@media (max-width:514px) {
    .mct ul {
        padding-left: 16px;
    }
}

@media (max-width:814px) {
    .mcta {
        padding-left: 16px;
    }
}

@media (max-width:814px) {
    .mctb {
        padding-left: 16px;
    }
}